<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        fieldset
            legend
                h3= dog.name
            ul
                li= dog.breed
                li= dog.color
                li= dog.age

        a(href="/") Back

        